.footer hr {
    display: block;
    border-color: #2C2C2C;
    border-style: solid;
    position: relative;
    top: 40px;
}

.footer {
    width: 100%;
    height: 545px;
    max-height: 545px;
    background-color: #222;
    display: block;
    position: relative;
    margin-top: 3171px;
}

.footer-container {
    height: 475px;
    max-height: 475px;
    max-width: 1284px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    height: 241px;
    position: relative;
    bottom: -30px;
}

.footer-community {
    position: relative;
    height: 241px;
    width: 313px;
    display: block;
}

.footer-community_img {
    width: initial;
    display: block;
    margin: 0 auto;
}

.footer-community_text {
    flex: 1;
    flex-direction: column;
    position: relative;
    right: -25px;
    top: 24px;
    color: #FF3F6C;
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 600;
}

.footer-social {
    position: relative;
    left: 80px;
    top: 50px;
    width: 180px;
    display: flex;
    flex-direction: row;
}

.instagram {
    padding-right: 25px;
    position: relative;
    top: 2px;
}

.telegram {
    padding-right: 25px;
}

.footer_links {
    flex-direction: row;
    flex: 3;
    display: flex;
    font-size: 16px;
    line-height: 2;
    position: relative;
    right: -430px;
    top: -185px;
}

.footer_links h4 {
    font-size: 18px;
    color: white;
}

.footer-links_item {
    width: 150px;
    height: 233px;
    position: relative;
    padding-right: 110px;
}

.links-item_body a {
    text-decoration: none;
    color: #B8B8B8;
}

.links-item_body li {
    list-style-type: none;
}

.footer-bottom {
    background: #2b2929;
    width: 100%;
    height: 70px;
}

.span-copyright {
    font-size: 17px;
    color: white;
    position: relative;
    right: -380px;
    top: 25px;
}

.footer-bottom a {
    text-decoration: underline;
    color: #FF3F6C;
    font-size: 17px;
    position: relative;
    right: -1300px;
    top: 25px;
}