.hero-slider_image {
    padding: 0;
    height: 700px;
    position: relative;
    top: 73px;
    margin: auto;
    z-index: 0;
}

.hero-slider_new {
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    color: yellow;
    position: relative;
    bottom: 390px;
    left: 501px;
    z-index: 3;
}

.hero-slider_title1 {
    font-size: 70px;
    color: white;
    /*-webkit-text-stroke: 2px white;*/
    display: inline-block;
    position: relative;
    bottom: 390px;
    left: 500px;
    z-index: 3;
}

.manga-description {
    font-size: 20px;
    color: white;
    font-family: 'Alkalami', serif;
    text-align: left;
    line-height: 28px;
    position: relative;
    bottom: 370px;
    left: 501px;
    z-index: 3;
}

.more-info_button {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #717171;
    border-radius: 20px;
    display: inline-block;
    width: 130px;
    height: 40px;
    max-width: 150px;
    padding-top: 17px;
    padding-left: 40px;  
    position: relative;
    left: 500px;
    bottom: 350px;
    z-index: 3;
}

.gradient-shadow-hero-slider {
    height: 10px;
    width: 300px;
    position: relative;
    top: -627px;
}

.shadow-left {
    padding: 325px;
    box-shadow: inset black 500px 0px 150px;
    height: 50px;
    width: 301px;
    position: relative;
    z-index: 2;
}

.shadow-right {
    padding: 325px;
    box-shadow: inset black -500px 0px 150px;
    height: 50px;
    width: 302px;
    position: relative;
    right: -951px;
    bottom: 1350px;
}

.shadow-bottom {
    padding: 325px;
    box-shadow: inset black 0px -350px 500px;
    width: 1253px;
    position: relative;
    bottom: 650px;
    z-index: 1;
}

.button-left {
    position: relative;
    bottom: 280px;
    margin-left: 400px;
    cursor: pointer;
    z-index: 3;
}

.button-right {
    position: relative;
    margin-left: 1500px;
    bottom: 300px;
    cursor: pointer;
    z-index: 3;
}
